@import url(https://fonts.googleapis.com/css2?family=Candara&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:wght@100&display=swap');

:root {
    --cp: #ffffff;
    --cd: #000000;
    --ca: #0000ff;
    --cl: #c5cae9;
    --fm: 'Roboto', sans-serif;
    font-size: 1.20vmin;
    font-family: var(--fm);
    letter-spacing: 0.2vh;
}

.nav-bar{
    position: fixed;
    z-index: 1;
    top: 0;
    margin-top: -2rem;
    margin-left: -2rem;
    margin-bottom: 10rem;
    background-color: var(--cd);
    width: 100vw;
    height: 8vh;
    color: var(--cp);


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.explore{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: all 0.3s ease-out;
}

.opener:hover, .explore a:hover{
    color: var(--cl);
    transform: rotate(3deg);
}

.page-title{
    font-size: 5.5rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
    align-items: center;
    flex-wrap: wrap;
}

.dropdown{
    position: relative;
}

.opener{
    cursor: pointer;
    border: none;
    background-color: var(--cd);
    font-family: var(--fm);
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--cp);
}

.collaborators{
    position: absolute;
    left: 0;
    top:  calc(100% + 1rem);
    background-color: var(--cd);
    padding: 1rem;
    box-shadow: 0 1rem 3rem 0 var(--cd);
    opacity: 0;
}

.dropdown>.opener:focus + .collaborators{
    opacity: 1;
}

.collaborators>li{
    padding-left: 3rem;
    padding-right: 3rem;
    list-style: none;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    width: 16rem;
    border: 0.1rem solid #ffffff25;
}

main{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    gap: 5rem;
    margin-top: 15vh;
    margin-left: -1vh;
}

.side-bar{
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100%;
    margin: -5vh 0;
    padding: 10vh 0;
    box-shadow: 0 1rem 3rem 0 var(--cd);
}

.page-nav{
    position: fixed;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    list-style-type: upper-roman;
}

.page-nav>li>a{
    font-size: 1.5rem;
    margin: 1rem;
    color: var(--cd);
}

.project-title{
    font-weight: bolder;
    text-decoration: none;
}

.container{
    grid-column: 2/3;
}

a,a:visited{
    font-size: 3.5rem;
    font-weight: bolder;
    color: var(--cp);
    text-decoration: none;
}

.project-title{
    margin-left: -2rem;
    font-size: 4.5rem;
    font-weight: bolder;
    color: var(--cd);
}

h3{
    font-size: 3.5rem;
    font-weight: bolder;
    color: var(--cd);
}

h4{
    font-size: 3rem;
    font-weight: bold;
    color: var(--cd);
}

.subsection-title{
    width: 100vh;
    align-self: flex-start;
}

p{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--cd);
    line-height: 3.5rem;
}

.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.code-frame{
    margin-left: 10vw;
}

i{
    font-weight: 800;
    color: var(--ca);
}

.section-break{
    height: 10vh;
}

img{
    border: 0.2rem solid var(--cl);
}

.row_label{
    color: var(--cd);

}

.sub-section{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.desmos-graph{
    align-self: center;
    width: 80vh;
    aspect-ratio: 2/1;
}

.division-inner{
    border: 0.2rem solid var(--cd);

    width: 69vw;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    background-color: var(--cl);
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));   /* repeat(3,1fr) */
}

.division-item{
    width: 18vw;
    padding: 5rem;
}

#bob-div-item, #eve-div-item{
    border-right: 0.2rem solid var(--cd);
}

.division-item h1{
    color: #283593;
    font-size: 3rem;
    font-weight: bolder;
    margin: 0;
}

.division-item p{
    margin: 0;
    line-height: 1.6;
    color: #333;
}

label,output{
    font-size: 2rem;
    font-weight: 800;
    width:max-content;
}

#demo-container{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    justify-items: center;
}

.image-credits{
    width: 80%;
    text-align: right;
    margin-top: 2rem;
}
.radio-container{
    height: 50vh;
    width:  12vw;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    padding-left: 1rem;
    padding-right: 1rem;
}

#prime-container{
    grid-column: 2/3;
    border-bottom: 0.2rem solid var(--cd);
    border-top: 0.2rem solid var(--cd);
    border-right: 0.2rem solid var(--cd);

}
#equation-container{
    grid-column: 1/2;
    border: 0.2rem solid var(--cd);
}
.radio-button-container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: calc(12vw - 2rem);
}

#graph-container{
    grid-column: 3/4;
    grid-row:1/2;
    align-self: center;
    box-shadow: 0 1rem 3rem 0 var(--cd);
    padding:  4vh;
    display: flex;
    gap: 4vh;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}

#graph-generator{
    width: 20vh;
    height: 3rem;
    font-size: 2rem;
    align-self: center;
    font-weight: bold;
    color : var(--cp);
    background-color: var(--cd);
    box-shadow: 0 1rem 3rem 0 var(--cd);
    font-family: var(--fm);
}

#graph-generator:hover{
    background-color: var(--ca);
    color: var(--cd);
}

#input-graph{
    height: 80vh;
    width: 80vh;
}

#encrypter{
    margin-top: 10vh;
    opacity: 0;
    height: 54vh;
    width: 75vw;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1vh;
    padding : 2vh;
}

.encrypter-module{
    height: 50vh;
    width: 35vw;
    background-color: var(--cd);
    box-shadow: 0 1rem 3rem 0 var(--ca);

    display: grid;
    gap: 2vh;
    padding: 0 10vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
}

.module-title{
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: center;
    color: var(--cl);
}


.point-generator{
    grid-row: 1/2;
    grid-column: 2/3;
    margin-top: 5vh;
    height: 3rem;
    background-color: var(--cd);
    color: var(--cp);
    font-size: 2rem;
}

.point-generator:hover, #graph-generator:hover, .secret-generator:hover {
    cursor: pointer;
    box-shadow: 0 1rem 3rem 0 var(--ca);
    color: var(--cp);
}

.point-generator:active, #graph-generator:active, .secret-generator:active {
    box-shadow: 0 1rem 3rem 0 var(--cl);
    color: var(--cl);
}

.equation-output{
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: 2rem;
    color:var(--cl);
}

.prime-output{
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 2rem;
    color:var(--cl);
    width: 100%;
    text-align: center;
}

.point-output{
    grid-row: 3/4;
    grid-column: 1/2;
    font-size: 2rem;
    color:var(--cl);
}

.secret-generator{
    grid-row: 3/4;
    grid-column: 2/3;
    height: 3rem;
    background-color: var(--cd);
    color: var(--cp);
    font-size: 2rem;
}

.encrypter-input-x{
    grid-row: 4/5;
    grid-column: 1/2;
    width:13vw;
    height: min-content;
}

.encrypter-input-y{
    grid-row: 4/5;
    grid-column: 2/3;
    width:13vw;

    height: min-content;
}


.point-input-label{
    color: var(--cl);
}

.common-secret{
    grid-row: 5/6;
    grid-column: 1/3;
    font-size: 2rem;
    color:var(--cl);
    height: min-content;
}

footer{
    height: min-content;
    background-color: var(--cd);
    margin: 10vh -1vh -2vh;
    color: var(--cp);
    font-size: 1.5rem;
    text-align: end;
    padding: 2rem;
}
