@import url(https://fonts.googleapis.com/css2?family=Candara&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:wght@100&display=swap');

:root {
    --cp: #ffffff;
    --cd: #000000;
    --ca: #0000ff;
    --cl: #c5cae9;
    --fm: 'Roboto', sans-serif;
    font-size: 1.20vmin;
    font-family: var(--fm);
    letter-spacing: 0.2vh;
}

.nav-bar{
    position: fixed;
    z-index: 1;
    top: 0;
    margin-top: -2rem;
    margin-left: -2rem;
    margin-bottom: 10rem;
    background-color: var(--cd);
    width: 100vw;
    height: 8vh;
    color: var(--cp);


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.explore{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: all 0.3s ease-out;
}

.opener:hover, .explore a:hover{
    color: var(--cl);
    transform: rotate(3deg);
}

.page-title{
    font-size: 5.5rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding: 0 45px 0 45px;
    align-items: center;
    flex-wrap: wrap;
}

.dropdown{
    position: relative;
}

.opener{
    cursor: pointer;
    border: none;
    background-color: var(--cd);
    font-family: var(--fm);
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--cp);
}

.collaborators{
    position: absolute;
    left: 0;
    top:  calc(100% + 1rem);
    background-color: var(--cd);
    padding: 1rem;
    box-shadow: 0 2px 5px 0 var(--cd);
    opacity: 0;
}

.dropdown>.opener:focus + .collaborators{
    opacity: 1;
}

.collaborators>li{
    padding-left: 3rem;
    padding-right: 3rem;
    list-style: none;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    width: 16rem;
    border: 0.1rem solid #ffffff25;
}

main{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    gap: 5rem;

    margin-top: 15vh;

}

.side-bar{
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100vh;
    margin: 10vh 0;
    background-color: var(--cp);
    padding: 10vh 0;
}

.page-nav{
    position: fixed;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    list-style-type: upper-roman;
}

.page-nav>li>a{
    font-size: 1.5rem;
    margin: 1rem;
    color: var(--cd);
}

.project-title{
    font-weight: bolder;
    text-decoration: none;
}

.container{
    grid-column: 2/3;
}

a,a:visited{
    font-size: 3.5rem;
    font-weight: bolder;
    color: var(--cp);
    text-decoration: none;
}

.project-title{
    margin-left: -2rem;
    font-size: 4.5rem;
    font-weight: bolder;
    color: var(--cd);
}

h3{
    font-size: 3.5rem;
    font-weight: bolder;
    color: var(--cd);
}

h4{
    font-size: 3rem;
    font-weight: bold;
    color: var(--cd);
}

.subsection-title{
    width: 100vh;
    align-self: flex-start;
}

p{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--cd);
    line-height: 3.5rem;
}

i{
    font-weight: 800;
    color: var(--ca);
}

.content-section{

}

.row_label{
    color: var(--cd);

}

.sub-section{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.desmos-graph{
    align-self: center;
    width: 80vh;
    aspect-ratio: 2/1;
}

label,output{
    font-size: 2rem;
    font-weight: 800;
    width:max-content;
}

#demo-container{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    justify-items: center;
    gap: -3vh;
}

.equation-radio-container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:1rem;
    align-items: center;
}

.radio-container{
    box-shadow: 0 2px 5px 0 var(--cd);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

#prime-container{
    height: 50vh;
    grid-column: 1/2;

    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

#equation-container{
    height: 50vh;
    grid-column: 3/4;

    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#graph-container{
    grid-column: 2/3;
    grid-row:1/2;
    align-self: center;
    box-shadow: 0 2px 5px 0 var(--cd);

    padding:  4vh;
    display: flex;
    gap: 4vh;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}

#graph-generator{
    width: 20vh;
    height: 3rem;
    font-size: 2rem;
    align-self: center;

    font-weight: bold;
    color : var(--cp);
    background-color: var(--cd);
    box-shadow: 0 2px 5px 0 var(--cd);
    font-family: var(--fm);
}

#graph-generator:hover{
    background-color: var(--ca);
    color: var(--cd);
}
#input-graph{
    height: 80vh;
    width: 80vh;
}

footer{
    height: min-content;
    background-color: var(--cd);
    margin: 10vh -1vh -2vh;
    color: var(--cp);
    font-size: 1.5rem;
    text-align: end;
    padding: 2rem;
}