@import url(https://fonts.googleapis.com/css2?family=Candara&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:wght@100&display=swap');

body{
    display: flex;
    flex-direction: column;
}

:root {
    --cp: #ffffff;
    --cd: #000000;
    --ca: #0000ff;
    --fm: 'Roboto', sans-serif;
    font-size: 1.20vh;
    font-family: var(--fm);
    letter-spacing: 0.2vh;
}

nav{
    position: fixed;
    margin-top: -10px;
    margin-left: -10px;
    background-color: var(--cd);
    width: 100vw;
    height: 10vh;
    color: var(--cp);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.explore{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.page-title{
    font-size: 5.5rem;
    font-weight: 600;
}
.dropdown{
    position: relative;
}

.opener{

    cursor: pointer;
    border: none;
    background-color: var(--cd);
    font-family: var(--fm);
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--cp);
}


.collaborators{
    position: absolute;
    left: 0;
    top:  calc(100% + 1rem);
    background-color: var(--cd);
    padding: 1rem;
    box-shadow: 0 2px 5px 0 var(--cd);
    opacity: 0;
}

.dropdown>.opener:focus + .collaborators{
    opacity: 1;
}

li{
    padding-left: 3rem;
    padding-right: 3rem;
    list-style: none;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    width: 16rem;
    border: 0.1px solid #ffffff25;
}

a,a:visited{
    font-size: 3.5rem;
    font-weight: bolder;
    color: var(--cp);
    text-decoration: none;
}

.container{
    margin: 15vh 3rem;
}

h2{
    font-size: 4.5rem;
    font-weight: bolder;
    color: var(--cd);
}

h3{
    font-size: 3.5rem;
    font-weight: bolder;
    color: var(--cd);
}

h4{
    font-size: 3rem;
    font-weight: bold;
    color: var(--cd);
}

.subsection-title{
    width: 100vh;
    align-self: flex-start;
}

p{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--cd);
    line-height: 3.5rem;
}

i{
    font-weight: 800;
    color: var(--ca);
}


.sub-section{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.desmos-graph{
    align-self: center;
    width: 80vh;
    aspect-ratio: 2/1;
}

footer{
    height: min-content;
    background-color: var(--cd);
    margin-bottom: -2rem;
    margin-left: -2rem;

    color: var(--cp);
    font-size: 1.5rem;
    text-align: end;
    padding: 2rem;
}